In [11]:
import pandas as pd

results_fp = '/mnt/opr/levlevi/player-re-id/src/testing/ocr_model_comparions/openai_api_results.txt'
with open(results_fp, 'r') as f:
    lines = f.read()

gts = []
preds = []

lines = lines.split('__')
for idx, l in enumerate(lines):
    if idx % 2 == 0:
        print(l)

na
{
  "jersey_number": "41"
}
na
```json
{
  "jersey_number": "2"
}
```
36
{
  "jersey_number": "13"
}
na
{
  "jersey_number": "41"
}
na
{
  "jersey_number": "9"
}
22
{
  "jersey_number": "13"
}
na
{
  "jersey_number": "1"
}
15
{
  "jersey_number": "99"
}
na
{
  "jersey_number": "15"
}
[EOS]
5
{
  "jersey_number": "None"
}
na
```json
{
  "jersey_number": "20"
}
```
16
```json
{
  "jersey_number": "22"
}
```
na
{
  "jersey_number": "5"
}
25
{
  "jersey_number": "6"
}
na
{
  "jersey_number": "13"
}
34
{
  "jersey_number": "0"
}
na
{
  "jersey_number": "8"
}
na
{
  "jersey_number": "9"
}
6
{
  "jersey_number": "3"
}
[EOS]
27
{
  "jersey_number": "32"
}
[EOS]
na
{
  "jersey_number": "5"
}
na
{
  "jersey_number": "30"
}
na
{
  "jersey_number": "28"
}
na
{
  "jersey_number": "23"
}
[EOS]
12
{
  "jersey_number": "2"
}
na
{
  "jersey_number": "35"
}
[EOS]
na
{
  "jersey_number": "None"
}
5
{
  "jersey_number": "12"
}
na
{
  "jersey_number": "3"
}
12
```json
{
  "jersey_number": "35"
}
```
na
{
  "jersey_number": "24"
}
23
{
  "jersey_number": "0"
}
5
{
  "jersey_number": "None"
}
2
{
  "jersey_number": "13"
}
[EOS]
11
{
  "jersey_number": "23"
}
0
{
  "jersey_number": "4"
}
[EOS]
50
{
  "jersey_number": "25"
}
[EOS]
na
{
  "jersey_number": "15"
}
none
```json
{
  "jersey_number": "None"
}
```
2
{
  "jersey_number": "21"
}
na
{
  "jersey_number": "13"
}
na
{
  "jersey_number": "7"
}
na
{
  "jersey_number": "11"
}
[EOS]
30
{
  "jersey_number": "8"
}
na
{
  "jersey_number": "32"
}
5
{
  "jersey_number": "14"
}
2
{
  "jersey_number": "23"
}
41
{
  "jersey_number": "41"
}
13
{
  "jersey_number": "5"
}
2
{
  "jersey_number": "None"
}

In [14]:
df = pd.DataFrame()
df['ground_truth'] = gts
df['prediction'] = preds
len(df[df['ground_truth'] == df['prediction']])

31

In [12]:
df

   ground_truth prediction
0            na          1
1            na          1
2            na       None
3             2          2
4            36         24
..          ...        ...
95           41         10
96           13         23
97           na         12
98            2          2
99           na         23

[100 rows x 2 columns]